extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-gray-900 Bienes 
            span.font-normal.text-orange-500 Raíces  
        h2.text-center.text-2xl.font-extrabold.text-gray-900= pagina

        p.text-xl.font-bold.text-center.my-10.text-gray-800= mensaje
